<% # encoding: utf-8 %>
<% if signed_in? %> 
  <div class="row">
   <h1>Admin page</h1>

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#countries">Страны</a></li>
      <li><a href="#contacttypes">Типы контактов</a></li>
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane active" id="countries">
          <%= render  partial: 'countries/test' %>
      </div>
      <div class="tab-pane" id="contacttypes">
        <%= render 'shared/contacttypes' %>
      </div>
    </div>
     
    <script>
        $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    
    </script>
    
  </div>
<% else %>
 <div class="center hero-unit">
    <h1>Chem Technologies</h1>

    <h2>
      CRM
    </h2>

    <%= link_to "Зарегистрироваться", signup_path,
                                id: 'signup', class: "btn btn-large btn-primary" %>
  </div>
  
<% end %>