<% # encoding: utf-8 %>
<% if signed_in? %> 
  <div class="row">
   <h1 id="title">Admin page</h1>

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a id="countries_link" href="#countries">Страны</a></li>
      <li><a id="contacttypes_link" href="#contacttypes">Типы контактов</a></li>
    </ul>
     
    <div class="tab-content">
      <div class="tab-pane active" id="countries">
           <%= render 'shared/countries' %>
      </div>
      <div class="tab-pane" id="contacttypes">
        <%= render 'shared/contacttypes' %>
      </div>
    </div>
     
    <script>
        $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    
    $(document).ready(function(){
      var loc = window.location.hash.replace("#","");
      if (loc == "") {loc = "countries"}
      document.getElementById("title").innerHTML=loc+"_link";
      document.getElementById(loc+"_link").click();
    })
    </script>
    
  </div>
<% else %>
 <div class="center hero-unit">
    <h1>Chem Technologies</h1>

    <h2>
      CRM
    </h2>

    <%= link_to "Зарегистрироваться", signup_path,
                                id: 'signup', class: "btn btn-large btn-primary" %>
  </div>
  
<% end %>