<div class="center hero-unit">
    <h1>Chem Technologies</h1>

    <h2>
      CRM
    </h2>

    <%= link_to "Зарегистрироваться", signup_path,
                                id: 'signup', class: "btn btn-large btn-primary" %>
  </div>
  