<li >  
  <%= link_to client.name, client  %>
  <%= link_to '<i class="glyphicon glyphicon-edit"> </i>'.html_safe, edit_client_path(client) %>
  <%= render 'clients/follow_form', object: client if signed_in? %>
</li>