<li>  
  <div class="col-md-2">
  <%= link_to client.name, client %>
  </div>
  <div class="col-md-1">
    <%= link_to '<i class="icon-edit"> </i>'.html_safe, edit_client_path(client) %>
  </div> 
  <div class="col-md-2">
    <%= render 'follow_form', object: client if signed_in? %>
  </div>
  
</li>