<table id="contacts-table" class="table table-hover table-striped">
  <thead>
    <th>Контакт</th>
    <th>Тип</th>
    <th></th>
  </thead>
  <tbody>
  <%= f.fields_for(:contacts) do |contacts_form| %>
  <tr class="fields">
    <td><%= contacts_form.text_field :value %></td>
    <td>
      <%= contacts_form.select(:contacttype_id,
                   options_from_collection_for_select(ContactType.all, :id, :name)) %>
    </td>
    <td>
      <%= link_to_remove_fields '<i class="icon-remove"> </i>'.html_safe, contacts_form, :title => "Удалить контакт." %></td>
  </tr>
  <% end %>
  </tbody>
</table>