<span id="<%= "follow_form_#{object.id}" %>">
<% if current_user.following?(object) %>
	<%= render 'clients/unfollow', object: object %>
<% else %>
	<%= render 'clients/follow', object: object %>
<% end %>
</span>