<% provide(:title, 'Редактирвоание информации о клиенте') %>
<h1>Редактирвоание информации о клиенте</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@client) do |f| %>
			<%= render 'fields', f:f %>
			<%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>