<% provide(:title, @title) %>
<div class="row">
<div class="span8">
    <h3><%= @title %></h3>
    <%= @negotiations.count %>
    <% if @negotiations.any? %>
      <ul class="negotiations">
        <%= render @negotiations %>
      </ul>
      <%= will_paginate @negotiations %>
    <% end %>
  </div>
</div>  