<% provide(:title, 'Переговоры') %>
<div class="row">
  <div class="col-md-2">
	<h4>Список клиентов</h4>

	<ul class="clients">

		<% @clients.each do |client| %>
  	    	<li>

      			<%= link_to client.name, negotiations_path(client) %>
		    </li>
  		<% end %>
	</ul>
	<%= will_paginate @clients %>
  </div>
  <div class="col-md-10">
  <% params[:page] %>
  <% if !@negotiations.nil? %>
  <% @negotiations.each do |negotiation| %>
          <li>
            <%= link_to negotiation.value, negotiation  %>
        </li>
      <% end %>
  <% end %>    
  </div>  
</div>  
